:root{
    --white-color:#FFFFFF
    --gray-color: #2E2F42;
    --bage-color: #E7E9FC;
    --blue-color: #4D5AE5;
}

body{
    font-family:Roboto, sans-serif;
    background: FFFFFF;
 }

.header{
    font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: calc(24 / 18);
 }
.web{
    font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: calc(24 / 18) ;
color: #4D5AE5;
}
.top{
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: calc(24 / 16);
color:#2E2F42;
}
.top:hover{
color: #434455;
}
.top:focus{
color:#4D5AE5 ;  
}
.contact{
list-style: none;
color: #2E2F42;
font-size: 16px;
line-height: calc(24 / 16)
}
.contact:hover{
    color: #434455;
}
.contact:focus{
    color: #4D5AE5;
}
.link{
    text-decoration: none;
}
.section{
background:  #2E2F42;
}
.section-text{
color: FFFFFF;
font-weight: 500;
font-size: 56px;
line-height:calc(60/56);
 }
 .section-button{
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
 }
 .section-button:hover{
    background: #4D5AE5;
 }
 .section-button:focus{
    color: #FFFFFF;
    background: #404BBF;
 }
 .text-top{
   font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
color: #2E2F42;
 }
 .text{
font-size: 16px;
line-height:calc(24/16);
color: #434455;
 }
 .photo-title{
    font-weight: 500;
font-size: 36px;
line-height: calc(40/36);
color: #2E2F42;
 }
 .team-title{
    font-weight: 500;
font-size: 36px;
line-height:calc(40/36) ;
color: #2E2F42;
 }
 .team{
   background-color:  #F4F4FD;
 }
 .team-text{
    font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
color: #2E2F42;
 }
 .team-prof{
font-size: 16px;
line-height: calc(24/16);
color: #434455;
 }
 .logo{
   background:  #2E2F42;
 }
 .footer-logo{
font-weight: 800;
font-size: 18px;
line-height: calc(21/18);
color: #F4F4FD;
font-family: Raleway, sans-serif
 }
 .footer-web{
font-weight: 800;
font-size: 18px;
line-height: calc(24 / 18) ;
color: #4D5AE5;
font-family: Raleway, sans-serif
 }
 .footer-info{
font-size: 16px;
line-height: calc(24/16);
color: #E7E9FC;
 }
 .btn{
    color: #4D5AE5;;
    font-family: inherit;
    background: #F4F4FD;
    cursor: pointer;
 }
 .btn:focus{
color: #FFFFFF;
    background: #4D5AE5;
 }
 .btn:hover{
    color: #FFFFFF;;
    background: #4D5AE5;
 }
 .discription{
    font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
color: #2E2F42;
 }
 .discription-text{
font-size: 16px;
line-height: calc(24/16);
color: #434455;
 }
 .style{
    list-style: none;
 }





